<div class="index">
<p style="color: green"><%= notice %></p>

<h1>Books</h1>

<div id="books">
  <% @books.each do |books| %>
    <%= render book %>
    <p>
      <%= link_to "Show this Book", book %>
    </p>
  <% end %>
</div>

<%= link_to "New Book", new_book_path %>
</div>